# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

install:
  - pip install codecov
  - pip install dominance-analysis

script:
  - coverage run test.py

after_success:
  - codecov
